
@font-face {
    font-family: 'vigaregular';
    src: url('/assets/viga-regular-webfont.eot');
    src: url('/assets/viga-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/viga-regular-webfont.woff2') format('woff2'),
         url('/assets/viga-regular-webfont.woff') format('woff'),
         url('/assets/viga-regular-webfont.ttf') format('truetype'),
         url('/assets/viga-regular-webfont.svg#vigaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}